* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 10% 30%;
}

#operator:hover {
  background-color: orangered;
}

#numbers:hover {
  background-color: gray;
}

#equal:hover {
  background-color: darkblue;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.screen {
  grid-area: 1 / 1 / 2 / 5;
  background-color: greenyellow;
  font-size: 3.5rem;
  text-align: right;
}

.operator1 {
  grid-area: 2 / 4 / 2 / 5;
  background-color: orange;
  font-size: 3.5rem;
}

.operator2 {
  grid-area: 3 / 4 / 3 / 5;
  background-color: orange;
  font-size: 3.5rem;
}

.operator3 {
  grid-area: 4 / 4 / 4 / 5;
  background-color: orange;
  font-size: 3.5rem;
}

.operator4 {
  grid-area: 5 / 4 / 5 / 5;
  background-color: orange;
  font-size: 3.5rem;
}

.operator-equal {
  grid-area: 6 / 1 / 6 / 5;
  background-color: steelblue;
  font-size: 3.5rem;
}

/* First row of numbers */
.digit7 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit8 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit9 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

/* Second row of numbers */
.digit4 {
  grid-area: 3 / 1 / 3 / 2;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit5 {
  grid-area: 3 / 2 / 3 / 3;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit6 {
  grid-area: 3 / 3 / 3 / 4;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

/* Third row of numbers */
.digit1 {
  grid-area: 4 / 1 / 5 / 2;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit2 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit3 {
  grid-area: 4 / 3 / 5 / 4;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

/* Forth row of numbers */
.digitDot {
  grid-area: 5 / 1 / 6 / 2;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digit0 {
  grid-area: 5 / 2 / 6 / 3;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}

.digitAC {
  grid-area: 5 / 3 / 6   / 4;
  background-color: #ecf0f1;
  font-size: 3.5rem;
}